aiohttp==3.7.4.post0
aiohttp-devtools==0.13.1
aiohttp-jinja2==1.4.2
aiohttp_session==2.9.0
click==8.0.1
Jinja2==3.0.1
motor==2.4.0
prometheus-async==19.2.0
PyYAML==5.4.1
typing-extensions==3.10.0.0
bson==0.5.10
PyJWT==2.6.0
cryptography==38.0.4
bcrypt==4.0.1