{% extends 'layout.html' %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}" />
{% endblock %}

{% block startup %}
<div id="title">Errorpage</div>
{% endblock %}

{% block content %}
<h1>ERROR: {{ error_code }} | {{ error }}</h1>

{{ error_msg }}

{% if error == "NO_AUTHCOOKIE" %}
{% include 'login.html' %}
{% endif %}

{% if error == "NO_AUTHCOOKIE2" %}
<form action="/login" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">

    <label for="username">Username</label>
    <input id="username" name="username" type="text" value="" autofocus />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" value="" />

    <input type="submit" value="login" />
</form>
{% endif %}



{% endblock %}



{% block scripts %}
{{ super() }}

{% endblock %}